/**
 * Variables
 * =================================
 * - Main Background / Foreground
 * - Brand Palette
 *
 *
 */


// Background and Foreground colors.
// All fonts and headers (unless overwritten) will be effected.

  $primary: #2E3316;
  $background: #FAF1EE;



// Brand palette colors.
// Use the color type as opposed to "secondary" or "tertiary" or something.

  $blue: #4E4ECE;
  $white: #FFFFFF;
  $orange: #E27D5C;
