/**
 * Sizes
 * =================================
 * - Global Sizes
 *
 *
 *
 */


// Global Sizes
$tiny: .8em;
$normal: 1em;
$small: 1.1em;
$medium: 1.25em;
$large: 2.5em;
$xlarge: 3.1em;


// Design Specific Sizes