/**
 * Typography
 * =================================
 * - Base
 * - Headers
 * - Paragraphs
 * - Text Transformations
 * - Text Placements
 *
 * Body font size, headings etc have been set in /variables
 *
 *
 */


//*********************************************
//****************** BASE *********************
//*********************************************
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font;
  font-size: $normal;
}




//*********************************************
//***************** HEADERS *******************
//*********************************************
h1, h2, h3 {
  font-family: $head-font;
  color: $primary;
  font-weight: 800;
  margin-bottom: 0;
  padding-bottom: 5px;
}

h1 {
  text-transform: uppercase;
  font-size: 1em;
  color: $primary;
  letter-spacing: 2px;
}

h2 {
  font-size: 2em;
  color: $background;
}

h3 {
  font-size: $medium;
  text-transform: uppercase;
  font-weight: 600;
  color: $primary;
}

h4 {
  font-family: $main-font;
  font-size: $small;
  text-transform: uppercase;
  color: $primary;
  font-weight: 800;
}

h5 {
  font-family: $main-font;
  font-size: $small;
  color: $primary;
  font-weight: 800;
}

.xl-title {
  font-size: 2em;
}

@media screen and (min-width: 40em) {
  .xl-title {
    font-size: 4em;
  }
}

.long-word {
  font-size: 1.5em;
}

@media screen and (min-width: 40em) {
  .long-word {
    font-size: 2em;
  }
}


//*********************************************
//*************** FONT SIZES ******************
//*********************************************
.small-font {
  font-size: $small;
}

.medium-font {
  font-size: $medium;
}

.large-font {
  font-size: $large;
}

.xlarge-font {
  font-size: $xlarge;
}

@media screen and (max-width: 39.9375em) {
  .medium-font-mobile {
    font-size: $medium;
  }
}

@media screen and (max-width: 39.9375em) {
.small-font-mobile {
  font-size: 1.8em;
  }
}


//*********************************************
//*************** PARAGRAPHS ******************
//*********************************************
p {
  font-family: $main-font;
  font-size: $normal;
  color: $primary;
  padding: 20px;
  line-height: 1.4;
  padding-bottom: 0;
}

.featured-paragraph {
  font-size: 1.2em;
}



//*********************************************
//****************** LINKS *******************
//*********************************************

a {
  color: $background;
}

a:hover {
  color: $primary;

}

a:active {
  color: $primary;
}

a:visited {
  color: $background;
}


//*********************************************
//********** TEXT TRANSFORMATION **************
//*********************************************
.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 800;
}

.italics {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}




