/**
 * Backgrounds
 * =================================
 * - Photo Header
 * -
 * - Color Backgrounds
 *
 *
 *
 *
 */



//*********************************************
//************** PHOTO HEADER *****************
//*********************************************

.full-background {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 105vh;
  position: relative;
}

.full-background-xl {
  height: 100vh;
}

@media screen and (min-width: 40em) {
  .full-background {
    height: 85vh;
  }
}

@media screen and (min-width: 70em) {
  .full-background {
    height: 70vh;
  }
}



//*********************************************
//************ COLOR BACKGROUNDS **************
//*********************************************
body {
  background-color: $background;
}

.main-background {
  background-color: $background;
  color: $primary;
}

.inverted-background {
  background-color: $primary;
  color: $background;
}

.primary-background {
  background-color: $background;
}

.blue-background {
  background-color: $blue;
  color: $white;
}

.orange-background {
  background-color: $orange;
  color: $white;
}

