/**
 * Buttons
 * =================================
 * - General Button Styles
 * - Button Style 1
 *
 *
 *
 *
 *
 */

//*********************************************
//*********** BASIC BUTTON STYLE **************
//*********************************************
.btn {
  font-family: $main-font;
  box-sizing: border-box;
  appearance: none;
  background-color: $orange;
  border: 2px solid $orange;
  color: $white;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1.2rem;
  line-height: 1;
  margin: 20px;
  padding: .6em 2em;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}


//*********************************************
//************* BUTTON STYLE 1 ****************
//*********************************************
.btn-v1 {
  background: $orange;
  border: 0;
  color: #fff;
  border-radius: 140px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: {
    image:
    linear-gradient(45deg, $blue 50%,
    transparent 50%);
    position: 100%;
    size: 400%;
  }
  transition: 300ms ease-in-out;

  &:hover {
    background-position: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

