/**
 * Cards
 * =================================
 * - Homepage Card
 *
 *
 *
 *
 *
 */


// Makes sure the margin pushes the cards in so they are full width, but with padding
.card-outer {
  margin: 0 3%;
}


// Gradient Background Colors
.gradient-1 {
  background: rgb(6,190,182); background: linear-gradient(90deg, rgba(6,190,182,1) 0%, rgba(72,177,191,1) 100%);
}


// Card Content
.card-contents {
  background-color: $background;
}

.card-center {
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-13%, -20%);
}

// Height Locks for Cards
.lock-tall {
  height: 600px;
}

.lock-tall-half {
  height: 315px;
}


//margin fixes
.card-margin-bottom {
  margin-bottom: 30px;
}

@media screen and (min-width: 40em) {
  .card-margin-bottom-desktop {
    margin-bottom: 30px;
  }
}