/**
 * Images
 * =================================
 * - Images
 *
 *
 *
 *
 *
 */

.glyphs {
  width: 200px;
}

.icons {
  width: 50px;
}

//This centers the icons where desired
.icon-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.waves {
  width: 100%;
}